.Home{
    padding: 50px 0;
    width: 50%;
}
.Holder{
    display: flex;
    justify-content:center;
}
.Title{
    text-align: center;
}
.Title h2{
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    position: relative;
}
.Title h2::after{
    position: absolute;
    top: 100%;
    left: 36%;
    content: "";
    height: 5px;
    width: 200px;
    background-color: #00123f;
}

label{
    margin-top: 10px;
}
.formControl{
    margin-top: 5px;
}
.btns{
    text-align: center;
    margin-top: 20px;
}
.btn {
    padding: 10px 35px;
}
.table{
    margin-top:30px;
    text-align: center;;
}
.cardImg{
 height: 200px;
}
.card img{
    height: 100%;
    width: 100%;
    object-fit: fill;
}
.cardTitle{
    padding: 15px;
    font-size: 20px;
}
.cardText{
    padding: 0 15px;
    font-size: 18px;
}
.btnn{
    width: 100%;
}
.text{
    color: blue;
    font-size: 12px;
}
.linkLable{
    color: black;
}
/* Home */
.list  {
    padding: 20px 0;
    font-size: 19px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
    
.list a {
    color: #0f0439;
    padding: 0 20px;
    font-size: 26px;
    transition: all 0.3s;
    border-bottom: 3px solid rgba(0, 0, 0, 0.283);
}
.list {
    font-size: 12px;
}
    
.list a:hover {
    color: orangered;
}
.Holder{
    display: flex;
    justify-content: center;
}